<% provide(:title, "Task New") %>
<h1>タスク新規作成</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @task, url: user_tasks_path(@user), local: true, method: :patch) do |f| %>
      <%= render 'shared/error_messages' %>

    <%= f.label :task_name, class: "label-signup" %>
    <%= f.text_field :task_name, class: "form-control" %>
    
    <%= f.label :note, class: "label-signup" %>
    <%= f.text_area :note, class: "form-control", size: "20x5" %>
    
    <%= f.submit "Sign up", class: "btn btn-primary btn-block btn-signup" %>
  <% end %>
  </div>
</div>
