<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <td><%= User.human_attribute_name :name %></td>
      </tr>
      <tr>
        <td>
          <%= User.first.name %>
          <%= link_to "管理者", "#", class: "btn btn-sm btn-primary" %>
        </td>
      </tr>
    </thead>
    
    <% @users.each do |user| %>
      <tr><% if current_user.admin? && !current_user?(user) %>
        <td><%= link_to user.name, user %>
          <%= link_to "一般", "#", class: "btn btn-sm btn-success" %>
        </td>
        <td>
          <%= link_to "削除", user, method: :delete,
              data: { confirm: "削除してよろしいですか？" },
              class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>